<%= form_with(model: @contribution, local: true, class: :"contributin-form") do |form| %>
  <div class="contribution-form__field">
    <label>
    title <br>
    </label>
    <%= form.text_field :title, placeholder: "title" %>
  </div>
  <div class="contribution-form__field">
    <label>
      Image <br>
      <i class="fas fa-camera-retro picture-icon"></i>
      <%= form.file_field :image %>
    </label>
  </div>
  <div class="contribution-form__field">
    <label>
    text<br />
    </label>
    <%= form.text_area :text, placeholder: "text" %>
  </div>
  <div class="contribution-form__field">
    <%= form.submit "投稿する", id: :"new-edit-btn" %>
  </div>
<% end %>