<div class="show">
  <section class="show-contribution" style="background-image: url(<%= @contribution.image %>);">
    <div class="show-contribution__box">
      <h1 class="show-contribution__box__title"><%= @contribution.title %></h1>
      <p class="show-contribution__box__text"><%= @contribution.text %></p>
    </div>
  </section>

  <section class="show-comment">
    <div class="show-comment__form">
      <%= form_with(model: @contribution, local: true, class:"show-comment__form__with", method: :put) do |form| %>
        <%= form.text_area :text %>
        <%= form.submit "コメントする", id: :"comment-btn" %>
      <% end %>
    </div>
    <div class="show-comment__index">
      <% 19.times do %>
        <h1 class="comment">yoooo!!</h1>
      <% end %>
    </div>
  </section>
</div>