<div class="show">
  <section class="show-contribution" style="background-image: url(<%= @contribution.image %>);">
    <div class="show-contribution__box">
      <h1 class="show-contribution__box__title"><%= @contribution.title %></h1>
      <p class="show-contribution__box__text"><%= simple_format(@contribution.text) %></p>
    </div>
  </section>

  <section class="show-detail">
    <div class="show-detail__box">
      <div class="show-detail__box__left">
        <p>投稿者：<%= link_to @contribution.user.nickname, "/users/#{@contribution.user.id}", class: :"show-detail__box__left__name" %></p>
        <p class="show-detail__box__left__create-date">投稿日時：<%= @contribution.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      </div>
      <div class="show-detail__box__right">
        <p>
          <%= render partial: "likes/like", local: {likes: @likes, contribution: @contribution} %>
        </p>
      </div>
    </div>
  </section>

  <% if user_signed_in? && current_user.id == @contribution.user_id %>
    <section class="show-edit-destroy">
      <div class="control-box">
        <div class="control-box__edit">
          <%= link_to "/contributions/#{@contribution.id}/edit", class: :"control-box__edit__btn" do %>
            <h1 class="control-box__edit__btn__text">編集する</h1>
          <% end %>
        </div>
        <div class="control-box__delete">
          <%= link_to "#", class: :"control-box__delete__btn", method: :delete,data: {confirm: '投稿を削除しますか？'} do %>
            <h1 class="control-box__delete__btn__text">削除する</h1>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>

  <section class="show-comment">
    <div class="show-comment__form">
      <%= form_with(model: [@contribution, Comment.new], local: true, class: :"show-comment__form__with") do |form| %>
        <%= form.text_area :text, class: :"comment-box" %>
        <%= form.submit "コメントする", id: :"comment-btn" %>
      <% end %>
    </div>
    <div class="show-comment__index">
      <h1 class="show-comment__index__title">＜コメント一覧＞</h1>
      <div class="show-comment__index__box">
        <% if @contribution.comments %>
          <% @contribution.comments.each do |comment| %>
            <div class="show-comment__index__box__description">
              <p class="show-comment__index__box__description__name">
                <%= comment.user.nickname %>
                <span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              </p>
              <p class="show-comment__index__box__description__text"><%= comment.text %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>