<!DOCTYPE html>
<html>
  <head>
    <title>DaiGo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  
  </body>
  
    <%= link_to "マイページ", "user_path" %>
    <%= link_to "index", contributions_path %>
    <%= link_to "show", "contribution_path" %>
    <%= link_to "投稿する", new_contribution_path %>
    <%= link_to "新規登録", "/signup/signup_1" %>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  
</html>
